[Desktop Entry]
Type=Application
Exec=/usr/bin/kodi
Hidden=false
NoDisplay=false
X-GNOME-Autostart-enabled=true
Name[en_GB]=Kodi
Name=Kodi
Comment[en_GB]=
Comment=
