[Desktop Entry]
Type=Application
Exec=${home}/git-repos/mediacenter/run.sh
Hidden=false
NoDisplay=false
X-GNOME-Autostart-enabled=true
Name[en_GB]=Mediacenter Docker containers
Name=Media center Docker containers
Comment[en_GB]=
Comment=
